.container{
    display: flex;
    height: 200px;
    width: 300px;
    background-color: pink;
    border: 1px solid black;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    

}
.item{
    height: 100px;
    width: 50px;
    border: 1px solid black;
    background-color: aqua;
}