/* div{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: blue;
    padding: 50px;
    border: 10px solid black;
    margin: 100px;
}
#dj{
    olor: brown;
    background-color: aquamarine;
    font-style: ictalic;
    border: 25px double navajowhite;
}
#jk{
    height: 500px;
    width: 100px;
    background-color:green;
    padding: 40px;
    border: 10px solid yellow;
    margin: 100px;
}
#cj{
    height: 300px;
    width: 200px;
    background-color: grey;
    padding: 30px;
    border: 10px solid black;
    margin: 100px;
} */
 div{
    height: 70px;
    width: 500px;
    background-color: white;
    padding: 50px;
    border: 10px solid black;
    margin: 100px;
 }
 #ak{
    font size: large;
    font color: #ee82ee;


 }